@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');


:root{
    --green:#16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}

*{
    margin: 0;
    padding: 0;
}

.main_bg{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(fault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid green;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid green;;
    font-size: 20px;
    color: green;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: #fff;
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: green !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: black !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}


@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}

/* make by ruhul amin */

.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo{
    font-size: 1.5rem;
    color: var(--black);
}

.header .logo i{
    color: var(--green);
}

.header .navbar a{
    font-size: 1.5rem;
    color: var(--light-color);
    margin-left: 2rem;
    text-decoration: none;
}

.header .navbar a:hover{
    color: var(--green);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

a{
    text-decoration: none;
}
